[Desktop Entry]
Version=1.0
Type=Application
Name=pcieshark
Comment=PCIe trace viewer and analyzer (GUI)
Exec=/home/khadem/pcieshark/run_pcieshark.sh %F
Path=/home/khadem/pcieshark
Terminal=false
Categories=Utility;
Icon=utilities-terminal
StartupNotify=true
